# General
.DS_Store
.AppleDouble
.LSOverride
.o
.lo
.d

external/

# cmake
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
/_deps/

# VSC
.vscode/

# Thumbnails
._*

# Files that might appear in the root of a volume
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xcuserstate
*.o
